<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header center pt-title pt-main-title">{{t 'application.title'}}</h1>
    <div class="row center pt-button-group">

    </div>
  </div>
</div>

{{outlet}}
