<footer class="page-footer pt-footer">
  <div class="container">
    <div class="row">
      <ul>
        <section class="col l7 s12">
          <li>
            <a class="pt-footer__link" href="https://goo.gl/forms/72L84yxbjR2nCOj53" title="https://goo.gl/forms/72L84yxbjR2nCOj53" target="_blank">
              {{t 'components.footer.template.addCompanyQuestion'}}
            </a>
          </li>
          <li>
            <a class="pt-footer__link" href="https://goo.gl/forms/tPzwRw268mh6PmcZ2" title="https://goo.gl/forms/tPzwRw268mh6PmcZ2" target="_blank">
              {{t 'components.footer.template.addEventQuestion'}}
            </a>
          </li>
        </section>
        <section class="col l3 s12">
          <li>
            <a class="pt-footer__link" href="mailto:paparajotech@gmail.com?Subject=Contact">
              {{t 'components.footer.template.contactUs'}}
            </a>
          </li>
          <li>
            {{#link-to 'contact' class="pt-footer__link"}}
              {{t 'components.footer.template.aboutProject'}}
            {{/link-to}}
          </li>
        </section>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Paparajotech
    </div>
  </div>
</footer>
