<section class="container">
  <div class="row">
    {{#each model as |meetupEvent|}}
      <div class="col s12">
        {{pt-event-card meetupEvent=meetupEvent}}
      </div>
    {{/each}}
  </div>
</section>
