/**
* Component: Colors
*
*/

/**
* Variables
* -------------------------------------------------------------------- */

$pt-primary-color:   #40c200;
$pt-secondary-color: #e0e0e0;
$pt-color-black:     #2c2f28;

/**
* Style
* -------------------------------------------------------------------- */
