/**
* Component: Colors
*
*/

/**
* Variables
* -------------------------------------------------------------------- */

$pt-primary-color:   #7b1fa2;
$pt-secondary-color: #ff3d00;
$pt-color-black:     #000000;

/**
* Style
* -------------------------------------------------------------------- */
