<div class="nav-wrapper container pt-nav">
  <a id="logo-container" class="pt-nav--link-logo" href="#" {{action 'goToIndex'}}>
    <img alt="Paparajotech game logo" class="pt-nav-logo" src="{{logoImage}}"/>
    {{t 'application.name'}}
  </a>

  {{change-locale class='right'}}
</div>
